.main {
    margin: 5vh auto 0;
    width: 800px;
}

.base>img {
    margin-left: 150px;
    /* width: 500px; */
    /* margin: 0 auto; */
}

.navbar {
    display: flex;
    flex-direction: row;
}
.nav-title {
    flex-grow: 1;

}

.nav-link {
    margin-right: 20px;
    margin-top: 22px;
}